<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jesse</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
    <div class="header">
        <b>
            <div class="item">Introduction</div>
        </b>
    </div>
    <div class="big_bg big_bg_1">
        <div class="filiter">
            <div class="home-content wrapper">
                <h1>Hello, Nice to meet you:D</h1>
                <p>歡迎來到"我的介紹"網站，感謝您的閱覽~</p>
            </div>
        </div>
    </div>
    <div class="big_bg big_bg_2">
        <div class="lift">
            <div class="filiter">
                <div class="text content p-3 mb-2 bg-info text-white">
                    <h2 class="page-title">I Love Program</h2>
                        <div class="content_font_bule">
                            <h5>
                                2021/06 I'm falling love with program.
                            </h5>
                            <h5>
                                My first love Python.
                            </h5>
                            <h5>
                                My second love CPlusPlus.
                            </h5>
                        </div>
                        <div class="center">
                            <a href="https://github.com/Jesse-Jumbo">
                                <button class="button">
                                    visit our home
                                </button>
                            </a>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="big_bg big_bg_3">
        <div class="lift">
            <div class="filiter">
                <div class="text content p-3 mb-2 bg-info text-white">
                    <h2 class="page-title">My Children with Python</h2>
                        <div class="content_font_bule">
                            <h5>
                                TankMan wanna play team battle, but I don't have time to take him out lately.
                            </h5>
                            <h5>
                                PacMan wanna play outside, but she still needs to grow up.
                            </h5>
                            <h5>
                                GameFramework is the child who needs my care the most recently.
                            </h5>
                        </div>
                        <div class="center">
                            <a href="https://github.com/Jesse-Jumbo?tab=repositories">
                                <button class="button">
                                    meet my babys
                                </button>
                            </a>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <a href="https://programtheworld.tw/donate/donate">
        <div class="big_bg_4">
            <img src="/static/images/donate.jpg" style="visibility: hidden;" />
        </div>
    </a>
    <div class="form">
        <div class="grid">
            <h1 class="md_title">More Information</h1>
            <form class="grid" action="/" method="post">
                <div class="input_text" type="text" name="name">
                    <a href="https://app.paia-arena.com/game">
                    <p>where do the children go to play</p>
                    </a>
                    <a href="https://programtheworld.tw/main.php">
                        <p>where are the kids from</p>
                    </a>
                </div>
                <input class="button" type="submit" value="送出" />
            </form>
        </div>
    </div>
    <div class="flex mt-20"  style="background-color:#EAEDED;">
        <div class="center flex w-100p">
            <div class="w-100p m-30 ml-60">
                <span class="foot_title">ABOUT</span>
                <p>
                    辦公室:台南市東區勝利路85號<br>
                    地址:台南市崇善路205巷12號6樓<br>
                    電話:06-2081464<br>
                    service@programtheworld.tw<br>
                    服務時間 週⼀⾄週五 9:00 am~5:00pm<br>
                    ⽴案字號：台內團字第1050024600號<br>
                </p>
            </div>
            <div class="w-100p m-30 ml-60">
                <span class="foot_title">SOCIAL</span>
                <table>
                    <tbody>
                        <tr>
                            <td><span class="link">粉絲專頁</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid #d5d5e0;width:200px;"></td>
                        </tr>
                        <tr>
                            <td style="padding-top:20px;"><img src="/static/images/logo.jpg" width="300px;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>